@import url("https://fonts.googleapis.com/css2?family=Inter&family=Plus+Jakarta+Sans:wght@400;500&family=Sacramento&display=swap");
:root {
  --main-color: #6a4029;
  --secondary-color: #ff8906;
  --accent-color: #f8f8f8;
  --font-color-a: #8e6447;
  --font-color-b: #4f5665;
  --second-font-style: "Sacramento", Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

main {
  display: flex;
  gap: 6%;
}

.transparent {
  display: none;
}

.left > img {
  height: 100vh;
}

.right {
  padding-top: 6vh;
  max-width: 50vw;
}

.right .coffee-logo {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 4vh;
}

.coffee-logo > a {
  text-decoration: none;
}

.coffee-logo > a > h1 {
  font-family: var(--second-font-style);
  color: var(--font-color-a);
  font-size: 20px;
  cursor: pointer;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.register-form > h2 {
  color: var(--font-color-a);
  font-size: 22px;
  font-weight: 600;
}

.register-form > p {
  color: var(--font-color-b);
}

.register-form > form {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.register-form > label {
  color: #0b132a;
  font-weight: 600;
}

.register-form > input {
  margin-top: -12px;
  padding: 14px 13px;
  font-size: 12px;
  letter-spacing: 0.75px;
  border-radius: 10px;
  border: 1px solid #dedede;
}

#full-name {
  background-image: url(./assets/images/Profile.svg);
  background-repeat: no-repeat;
  background-position: 8px 50%;
  padding-left: 40px;
}

#email {
  background-image: url(./assets/images/mail-logo.svg);
  background-repeat: no-repeat;
  background-position: 13px 50%;
  padding-left: 40px;
}

input.password {
  position: relative;
  width: 100%;
  margin-top: -12px;
  padding: 14px 13px;
  font-size: 12px;
  letter-spacing: 0.75px;
  border-radius: 10px;
  border: 1px solid #dedede;
  background-image: url(./assets/images/password-logo.svg);
  background-repeat: no-repeat;
  background-position: 13px 50%;
  padding-left: 40px;
}

.eye-slash {
  position: relative;
}

.eye-slash::before {
  content: "";
  position: absolute;
  background: url(./assets/images/EyeSlash.svg) no-repeat;
  width: 16px;
  height: 16px;
  top: 6px;
  right: 15px;
  z-index: 1;
}

.register-form a {
  color: var(--secondary-color);
  text-decoration: none;
  text-align: right;
}

a:hover {
  color: #b96403;
  transition: 0.5s;
}

.register {
  height: 50px;
  color: #0b132a;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  background-color: var(--secondary-color);
}

.register:hover {
  cursor: pointer;
  background-color: #e47d07;
  transition: 0.5s;
}

.have-account {
  text-align: center;
}

p.border {
  position: relative;
  color: #aaa;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 0.06px;
  text-align: center;
}

.border::before {
  content: " ";
  position: absolute;
  width: 20vw;
  height: 5px;
  left: 0;
  border-bottom: 1px solid #dedede;
}

.border::after {
  content: " ";
  position: absolute;
  width: 20vw;
  height: 5px;
  right: 0;
  border-bottom: 1px solid #dedede;
}

.other-login {
  display: flex;
  gap: 14px;
}

.facebook {
  height: 64px;
  width: 31vw;
  background-color: white;
  padding-left: 3%;
  color: var(--font-color-b);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.09px;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08);
  background-image: url(./assets/images/facebook-logo.svg);
  background-repeat: no-repeat;
  background-position: 26% 50%;
}

.facebook:hover {
  cursor: pointer;
  background-color: #e8e5e5;
  transition: 0.5s;
}

.google {
  height: 64px;
  width: 31vw;
  background-color: white;
  padding-left: 3%;
  color: var(--font-color-b);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.09px;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08);
  background-image: url(./assets/images/google-logo.svg);
  background-repeat: no-repeat;
  background-position: 30% 50%;
}

.google:hover {
  cursor: pointer;
  background-color: #e8e5e5;
  transition: 0.5s;
}

@media screen and (max-width: 1025px) {
  .right {
    width: 40vw;
    padding-top: 10vh;
  }

  .border::before {
    width: 14vw;
  }

  .border::after {
    width: 14vw;
  }

  .other-login {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 769px) {
  body {
    overflow: hidden;
  }

  .transparent {
    display: block;
    background-color: hsla(0, 0%, 0%, 0.6);
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
  }

  .left {
    position: absolute;
    z-index: -2;
  }

  .left > img {
    height: 140vh;
    width: 100vw;
  }

  .right {
    margin: 0 auto;
    width: 90vw;
    max-width: none;
    padding-top: 5vh;
  }

  .register-form > p {
    color: white;
  }

  .register-form > label {
    color: white;
  }

  p.no-account {
    color: white;
  }

  p.border {
    color: white;
  }

  .border::before {
    width: 35vw;
  }

  .border::after {
    width: 35vw;
  }

  .other-login {
    align-items: center;
  }

  .facebook {
    width: 90vw;
    background-position: 33% 50%;
  }

  .google {
    width: 90vw;
    background-position: 33% 50%;
  }
}

@media screen and (max-width: 426px) {
  .left > img {
    height: 115vh;
    width: 100vw;
  }

  .right {
    padding-top: 3vh;
  }
}
